<form action="/user/profile" method="post">
    <div class="form-group">
        <input type="email" , placeholder="Email" , name="email"><br>
        <input type="password" placeholder="Password" , name="password"><br>
        <input type="submit">
    </div>
</form>